.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5vh 0;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 35%;
}

.name-client {}

.box-field-profile {
  width: 100%;
  border: 3px solid #c4c4c4;
  padding: 1.3em;
}

.header-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-profile {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #3A62C8;
  font-size: large;
}

.edit-btn:hover {
  text-decoration: underline;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5em;
}

.input-edit {
  border: none;
  font-size: 1.2em;
  padding: 3px;
  border-radius: 4px;
  background-color: #d9d9d9;
}

.input-edit:focus {
  outline: none;
}

.input-edit:disabled {
  background-color: #ffffff;
}

.bottom-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.bottom-btn {
  margin: 3vh 0 0 0;
  background: #dbdbdb;
  border: none;
  padding: 1em 3.5em;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: .9em;
  margin: 0 1em;
}

.bottom-btn:hover {
  background: #c4c4c4;
}