table {
  width: 70%;
}

tbody tr {
  background-color: #e4e4e4;

}

tbody tr td {
  padding: .7em;
  border-radius: 5px;
}

.alter-count-cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 4px 0 0;
  background-color: #fff;
}

.put-on-cart-button {
  width: 50%;
  height: 60%;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 2px 0;
  font-weight: bold;
  font-size: xx-large;
  cursor: pointer;
}

.put-on-cart-button:hover {
  background-color: #d1d1d1;
}

.count-cart {
  width: 50%;
  height: 50%;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  margin: 2px;
  padding: 1px;
  text-align: center;
}

.delete-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #fff;
  border: none;
}

.delete-item:hover {
  background-color: #db9898;
}

.delete-item img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
}

.btn {
  width: 40%;
  height: 60%;
  background-color: #3A62C8;
  color: #fff;
  border: none;
  border-radius: 30px;
  margin: 1em 2em;
  padding: 1em;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #2951b7;
}

.delete-btn {
  background-color: #d44040;
}

.delete-btn:hover {
  background-color: #c02727;
}