<nav class="navbar">
    <div class="search-bar-line">
        <img src="/assets/logoDLZ.svg" alt="Logo">
        <input type="text" placeholder="Buscar um ou mais produtos">

        <button class="search-button">Buscar</button>

        <ng-icon name="heroUserCircleSolid" class="icon"></ng-icon>
        <ng-icon name="heroShoppingCartSolid" class="icon"></ng-icon>
    </div>
    <ul class="nav-options">
        <li><a href="#">Ver todas as categorias</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Meus Favoritos</a></li>
        <li><a href="#">Receitas</a></li>
        <li><a href="#">Fale Conosco</a></li>
    </ul>
</nav>