<main class="main-container">
    <aside class="aside-container">
        <img src="/assets/logoDLZ.svg" alt="Logo">
    </aside>

    <section class="section-container">
        <h1 class="main-title">Login</h1>

        <div class="form-container">
            <form action="">
                <app-form-input-bar [type]="'text'" [placeholder]="'Email'"></app-form-input-bar>
                <app-form-input-bar [type]="'password'" [placeholder]="'Senha'"></app-form-input-bar>
            </form>
            <p class="forgot-password"><a href="#">Esqueceu a senha?</a></p>
            <app-login-register-button class="login-register-button" btnText="Entrar"></app-login-register-button>
        </div>

        <p class="register-text">Não tem conta? <a routerLink="/register">Registre-se</a></p>
    </section>
</main>
