.main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Poppins', sans-serif;

  height: 100vh;

  /* background: linear-gradient(102deg, #3A62C8 50%, #FFF 50%);
  background-size: 100% 100%; */
}

.background {
  z-index: -10;
  position: fixed;
  width: 50vw;
  height: 100%;
  background-color: #3A62C8;
  transform: skewX(0deg);
  transform-origin: 0 0;
}

.left-aside {
  padding: 0 0 0 10vw;
  flex: 5;
}

.logo {
  height: 40vh;
}

.right-aside {
  display: flex;
  flex: 5;
  flex-direction: column;
  align-items: center;

  padding: 0 0vw 0 0;

  box-sizing: border-box;
}

.title {
  margin: .3em 0;
}

.line-title {
  border-top: 3px solid #3A62C8;
  width: 4em;
  margin: 0 0 5vh 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}