.header {
  background-color: #3A62C8;
  border-bottom: 1px solid #eee;
  padding: 0 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  max-height: 5.5em;
  width: 5.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 55em;
}

.input {
  width: 100%;
  height: 2.5em;
  border-radius: 1em;
  border: 2px solid #828282;
  padding: 0 1em;
  font-size: 1em;
  background-color: #eee;
  margin: 0 1em;
}

.input:focus {
  outline: none;
}

.search-btn {
  background-color: #496fcf;
  border-radius: 2em;
  border: 2px solid #82828267;
  color: #fff;
  font-size: 1em;
  padding: .7em 2.5em;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #214bb5;
}

.car-btn {
  background-color: #3A62C8;
  border: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;

  margin: 1em 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.car-btn img {
  width: 3em;
  height: 3em;
  color: #fff;
}

.nav-bottom {
  width: 100%;
}

.nav-bottom-list {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: .3em 0;
}

.list-item {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.button-list-item {
  background-color: #3A62C8;
  border-radius: 2em;
  color: #fff;
  font-size: 1em;
  padding: 0;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin: 0;
}

.button-list-item:hover {
  color: #c7ccea;
}