.title-cart {
  color: #3A62C8;
  margin-left: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  align-self: center;
}